<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:replace="layout/fragments/css :: config"/>

    <th:block layout:fragment="css"/>

    <title></title>
</head>
<body>
    <th:block th:replace="layout/fragments/header :: header"/>
    <div class="d-flex">
        <th:block th:replace="layout/fragments/menu :: menu"/>
        
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 min-vh-100">
            <th:block layout:fragment="content"/>
        </main>
    </div>
    <th:block th:replace="layout/fragments/footer :: footer"/>
    <th:block th:replace="layout/fragments/js :: config"/>

    <th:block layout:fragment="script"/>
</body>
<script>

</script>
</html>